body{
background-color: teal;
text-align: center;
}
h1{
color: rgb(132, 255, 0);
    text-align: center;
    font-size: 50px;
}
img{
width: 500px;
height: 350px;
border-radius: 20px;
text-align: center;
}